* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none; 
    color: var(--black-color);
  }

:root{
    /**Warna**/
    --warnaUtama: #F1F3FF;
    --warnaLogo: #0D28A6;
    --warnaTombol: #5CB85F;
    --warnaTulisan: #000000;
    --yellow-color: #f9cc00;
    --red-color: #fa2c5a;
    --white-color: #FFFFFF;
}

*{
    box-sizing: border-box !important;
}

/**------------------------------------NAVBAR------------------------------------**/
.navbar{
    background-color: var(--warnaUtama) !important;

}
.navbar-brand{
    background-color: var(--warnaLogo);
    width: 4em;
    text-align: center;
    color: var(--warnaTulisan);
}
.nav-link{
    color: var(--warnaTulisan) !important;
}
.navbar-toggler-icon{
    background-color: var(--warnaTulisan);
}
.logo {
    position: relative;
    width: 6rem;
    height: 2rem;
    background: var(--warnaLogo);
  }

/**---------------------------------------HOME------------------------------------**/
.home{
    background-color: var(--warnaUtama);
    height: auto;
}

.home .container .row {
    margin-top: -1em;

    /* overflow: hidden; */
}
.home .container .row .kotak .btn-home button{
    background-color: var(--warnaTombol);
    padding: 0.5em;
    border-radius: 5px 5px 5px 5px;
}
.btn-home button a{
    padding: 1em;
}
.btn-home .sewa{
    color: var(--warnaUtama);
    text-decoration: none;
    text-align: center;
}
.home img{
    position: relative !important;
    right: 2rem;
    left: 0.5rem;
    bottom: 2rem;
    width: auto;
 }

.banner-image::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 70%;
    bottom: 0;
    right: 0;
    background: blue;
    border-radius: 50px 0 0 0;
  }

/**Tampilan di atas 768px**/
@media screen and (min-width: 768px){
    .navbar-collapse{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .home{
        font: 400px;
        height: 70vh;
        padding-top: 5rem;
        overflow: hidden;
    }
    .pencarian{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -7rem;
        padding: 3rem;
        background-color: var(--white-color);
    }

    .pencarian .container .row .col {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: -3rem;
        padding-top: 2em;
        padding-bottom: 2em;
        border: 2px solid grey;
        border-radius: 4px 4px 4px 4px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    .pencarian .container .row .col .input0{
        width: 20%;
    }
    .pencarian .container .row .col .input1{
        width: 20%;
    }
    .pencarian .container .row .col .input2{
        width: 20%;
    }
    .pencarian .container .row .col .input3{
        width: 20%;
    }
    .form{
        border: 1px solid black;
    }
    .form-select{
        border: 1px solid black;
    }
    .btn-input button {
        padding: 0.3rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        text-decoration: none;
        background-color: var(--warnaTombol);
        border-radius: 3px 3px 3px 3px;
    }    
    .btn-input button a{
        padding: 1rem;
        margin-right: 1em;
        text-decoration: none;
        font-weight: bold;
        color: var(--warnaUtama);
    }
    
    .kolom .paragrap2{
        margin-left:3em;
    }
    .footer .container .row .kolom i{
        padding: 0.18em;
        background-color: var(--warnaLogo);
        color: var(--warnaUtama);
        border-radius: 50%;

    }
    .kolom .paragrap4{
        margin-left: 2em;
    }

    .kolom .logo {
        margin-left: 2em;
        position: relative;
        width: 6rem;
        height: 2rem;
        background: var(--warnaLogo);
    }


}

/**Tampilan di bawah 1000px**/
@media screen and (max-width: 1000px){
    .home{
        padding-top: 4rem;
    }
    .home img{
        position: relative !important;
        right: 3rem;
        left: 1rem;
        top: 1rem;
        bottom: 2rem;
        width: auto;
     }
    .btn-input button {
        padding: 0.3rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        text-decoration: none;
        background-color: var(--warnaTombol);
        border-radius: 3px 3px 3px 3px;
    } 
    .btn-input button a{
        padding: 1rem;
        margin-right: 1em;
        text-decoration: none;
        font-weight: bold;
        color: var(--warnaUtama);
    }
           
    }