* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none; 
    color: var(--black-color);
  }

:root{
    /**Warna**/
    --warnaUtama: #F1F3FF;
    --warnaLogo: #0D28A6;
    --warnaTombol: #5CB85F;
    --warnaTulisan: #000000;
    --yellow-color: #f9cc00;
    --red-color: #fa2c5a;
    --white-color: #FFFFFF;
}

*{
    box-sizing: border-box !important;
}

/**------------------------------------NAVBAR------------------------------------**/
.navbar{
    background-color: var(--warnaUtama) !important;

}
.navbar-brand{
    background-color: var(--warnaLogo);
    width: 4em;
    text-align: center;
    color: var(--warnaTulisan);
}
.nav-link{
    color: var(--warnaTulisan) !important;
}
.navbar-toggler-icon{
    background-color: var(--warnaTulisan);
}
.logo {
    position: relative;
    width: 6rem;
    height: 2rem;
    background: var(--warnaLogo);
}

/**------------------------------------HOME------------------------------------**/
.home{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--warnaUtama);
    width: 100%;
    height: 30vh;
}
.home .container{
    height: 25vh;
}

/**------------------------------------MEDIA QUERY------------------------------------**/
 
 /**Tampilan di bawah 768px**/
@media screen and (min-width: 768px){
    .navbar-collapse{
        display: flex;
        justify-content: end;
        align-items: center;
    }

    /**------------------------------------PENCARIAN------------------------------------**/
    .pencarian{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 3rem;
        background-color: var(--white-color);
    }

    .pencarian .container .row .col {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: -8rem;
        padding-top: 2em;
        padding-bottom: 2em;
        border: 2px solid grey;
        background-color: var(--white-color);
        border-radius: 4px 4px 4px 4px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    .pencarian .container .row .col .input0{
        width: 20%;
    }
    .pencarian .container .row .col .input1{
        width: 20%;
    }
    .pencarian .container .row .col .input2{
        width: 20%;
    }
    .pencarian .container .row .col .input3{
        width: 20%;
    }
    .form{
        border: 1px solid black;
    }
    .form-select{
        border: 1px solid black;
    }
    .btn-input button {
        padding: 0.3rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        text-decoration: none;
        background-color: var(--warnaTombol);
        border-radius: 3px 3px 3px 3px;
    }    
    .btn-input button a{
        padding: 1rem;
        margin-right: 1em;
        text-decoration: none;
        font-weight: bold;
        color: var(--warnaUtama);
    }

    /**------------------------------------HASIL PENCARIAN------------------------------------**/
    .hasil-pencarian {
        display: flex;
        justify-content: center;
    }
    .hasil-pencarian .container{
        display: flex;
        justify-content: center;
    }
    .hasil-pencarian .container .card{
        display: flex;
        justify-content: center;
        width: 30%;
        margin-bottom: 5em;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 10px -12px 9px -2px rgba(0,0,0,0.21);
        -webkit-box-shadow: 10px -12px 9px -2px rgba(0,0,0,0.21);
        -moz-box-shadow: 10px -12px 9px -2px rgba(0,0,0,0.21);
    }
    .container .card img{
        margin: 10px;
        margin-left: 35px;
        width: 80%;
        height: 70%;
        border-radius: 4px;
    }
    .hasil-pencarian button{
        width: 100%;
        color: var(--white-color);
        background-color: var(--warnaTombol);
    }
    .hasil-pencarian button a{
        color: var(--white-color);
        width: 100%;
    }

    /**------------------------------------FOOTER------------------------------------**/
    .kolom .paragrap2{
        margin-left:3em;
    }
    .footer .container .row .kolom i{
        padding: 0.18em;
        background-color: var(--warnaLogo);
        color: var(--warnaUtama);
        border-radius: 50%;

    }
    .kolom .paragrap4{
        margin-left: 2em;
    }

    .kolom .logo {
        margin-left: 2em;
        position: relative;
        width: 6rem;
        height: 2rem;
        background: var(--warnaLogo);
    }
  }

 /**------------------------------------MEDIA QUERY 2------------------------------------**/

  /**Tampilan di bawah 1000px**/
@media screen and (max-width: 1000px){

    /**------------------------------------PENCARIAN------------------------------------**/
    .pencarian{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -10rem;
        padding: -5rem;
        background-color: var(--white-color);
    }

    .hasil-pencarian .container .card{
        display: flex;
        justify-content: center;
        margin: 30px;
        width: 90%;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 10px -12px 9px -2px rgba(0,0,0,0.21);
        -webkit-box-shadow: 10px -12px 9px -2px rgba(0,0,0,0.21);
        -moz-box-shadow: 10px -12px 9px -2px rgba(0,0,0,0.21);
    }

  .btn-input button {
        padding: 0.3rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 30px;
        text-decoration: none;
        background-color: var(--warnaTombol);
        border-radius: 3px 3px 3px 3px;
    } 
    .btn-input button a{
        padding: 1rem;
        margin-right: 1em;
        text-decoration: none;
        font-weight: bold;
        color: var(--warnaUtama);
    }

    .hasil-pencarian button{
        width: 100%;
        color: var(--white-color);
        background-color: var(--warnaTombol);
    }
    .hasil-pencarian button a{
        color: var(--white-color);
        width: 100%;
    }
}